@import 'base/typography';

@import 'base/variables';
@import 'base/b-utilities';
@import 'base/colors';

@import 'base/normalize';
@import 'base/global';

// Import Components
// @import 'components/header';

// Import Layouts
// @import 'layouts/home';

// Import Plugins
// @import 'plugins/plugin';

.block {
  display: block;
}

body {
  background-color: #f2f2f2;
}

ul {
  padding-left: 0;
}

.todo-form,
.container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.todos-and-tags {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}

aside {
  flex: 1 1 auto;

  ul {
    list-style: none;
  }

  li {
    cursor: pointer;
  }
}

.list-todos {
  flex: 1 1 auto;
  list-style: none;

  li {
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    margin: 0.5rem auto;
    transition: all 0.3s ease;

    &:focus {
      border: 1px solid blue;
    }
  }
}

.screenreader-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.todo-new {
  background-color: green;
  border-radius: 60%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: white;
  height: 60px;
  font-size: 20px;
  position: fixed;
  right: 5%;
  transition: all 0.2s ease;
  width: 60px;
  z-index: 2;

  &:hover {
    transform: scale(1.15);
  }
}

.container {
  padding: 0 20px;
}

input {
  border: 0;
  caret-color: #2d50eb;

  &:focus {
    outline: 0;
  }
}

.form-container {
  input {
    width: 100%;
  }
}

form {
  display: inline-block;
}

.form-container {
  display: flex;
  flex-direction: column;
  transition: height 0.3s ease;

  &.--gone {
    height: 0;
  }

  &.--present {
    height: 100px;
  }

  form {
    box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: flex 0.5s ease;
    height: auto;
    overflow: hidden;
    flex: 1;
    width: 100%;
  }

  .collapse {
    flex: 0;
    transition: flex 0.5s ease;
  }
}

.--forwards {
  animation: heightPresent 0.4s both ease;
}

.--reverse {
  animation: heightGone 0.4s both ease;
}

@keyframes heightPresent {
  to {
    height: 100px;
  }
}

@keyframes heightGone {
  to {
    height: 0px;
  }
}

summary {
  &:focus {
    outline: 0;
  }
}

.list-todos__content {
  p {
    line-height: 1.4;
    opacity: 0.8;
  }
}

details {
  padding: 1rem;
}

details summary::-webkit-details-marker {
  display: none;
}

form {
  background-color: #ffffff;
}

#todo-title,
#todo-description,
.todo-title--update {
  border: 0px;
  width: 100%;
}

#todo-title {
  border-bottom: 1px solid rgba(128, 128, 128, 0.39);
}

details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
    margin-left: -10px;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}

.--strike {
  font-style: italic;
  opacity: 0.7;
  text-decoration: line-through;
}

@media (min-width: 600px) {
  .todos-and-tags {
    flex-direction: row;
    justify-content: space-between;
  }

  aside {
    order: 0;
    flex: 0 1 auto;
    width: calc(25% - 40px);
  }

  .list-todos {
    flex: 0 1 auto;
    width: calc(75% - 40px);
  }
}
