@import url("https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700|Raleway:300,400,400i,500,500i,600,600i,700");
.font-sans {
  font-family: "Raleway", sans-serif; }

.font-serif {
  font-family: "Merriweather", serif; }

.f-s-14 {
  font-size: 14px; }

.f-s-16 {
  font-size: 16px; }

.f-s-18 {
  font-size: 18px; }

.f-s-20 {
  font-size: 20px; }

.f-s-24 {
  font-size: 24px; }

.f-s-28 {
  font-size: 28px; }

.f-s-36 {
  font-size: 36px; }

.f-s-48 {
  font-size: 48px; }

.f-s-56 {
  font-size: 56px; }

.f-s-96 {
  font-size: 96px; }

.font-bold {
  font-weight: 600; }

.font-bolder {
  font-weight: 700; }

.font-normal {
  font-weight: 400; }

.font-light {
  font-weight: 300; }

.italic {
  font-style: italic; }

.underline {
  text-decoration: underline; }

.no-underline {
  text-decoration: none; }
  .no-underline:hover, .no-underline:focus {
    text-decoration: underline; }

.normal {
  font-style: normal; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.uppercase {
  text-transform: uppercase; }

.clearfix:after {
  content: '';
  display: table;
  clear: both; }

.screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.screenreader-only--with-space {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  width: 1px; }

.desktop-only {
  display: none !important; }

.mobile-only {
  display: none !important; }

.wrapper {
  padding-left: 20px;
  padding-right: 20px; }
  .wrapper:after {
    content: '';
    display: table;
    clear: both; }
  .wrapper .wrapper {
    padding-left: 0;
    padding-right: 0; }
  .wrapper.wrapper-1200 {
    max-width: 1200px; }
  .wrapper.wrapper-500 {
    max-width: 500px; }

.m-center {
  margin-left: auto;
  margin-right: auto; }

.block {
  display: block; }

.flex {
  display: block; }

.m-top-auto {
  margin-top: autopx; }

.m-bottom-auto {
  margin-bottom: autopx; }

.m-left-auto {
  margin-left: autopx; }

.m-right-auto {
  margin-right: autopx; }

.m-y-auto {
  margin-top: autopx;
  margin-bottom: autopx; }

.m-x-auto {
  margin-left: autopx;
  margin-right: autopx; }

.m-auto {
  margin: autopx; }

.p-top-auto {
  padding-top: autopx; }

.p-bottom-auto {
  padding-bottom: autopx; }

.p-left-auto {
  padding-left: autopx; }

.p-right-auto {
  padding-right: autopx; }

.p-y-auto {
  padding-top: autopx;
  padding-bottom: autopx; }

.p-x-auto {
  padding-left: autopx;
  padding-right: autopx; }

.p-auto {
  padding: autopx; }

.m-top-8 {
  margin-top: 8px; }

.m-bottom-8 {
  margin-bottom: 8px; }

.m-left-8 {
  margin-left: 8px; }

.m-right-8 {
  margin-right: 8px; }

.m-y-8 {
  margin-top: 8px;
  margin-bottom: 8px; }

.m-x-8 {
  margin-left: 8px;
  margin-right: 8px; }

.m-8 {
  margin: 8px; }

.p-top-8 {
  padding-top: 8px; }

.p-bottom-8 {
  padding-bottom: 8px; }

.p-left-8 {
  padding-left: 8px; }

.p-right-8 {
  padding-right: 8px; }

.p-y-8 {
  padding-top: 8px;
  padding-bottom: 8px; }

.p-x-8 {
  padding-left: 8px;
  padding-right: 8px; }

.p-8 {
  padding: 8px; }

.m-top-14 {
  margin-top: 14px; }

.m-bottom-14 {
  margin-bottom: 14px; }

.m-left-14 {
  margin-left: 14px; }

.m-right-14 {
  margin-right: 14px; }

.m-y-14 {
  margin-top: 14px;
  margin-bottom: 14px; }

.m-x-14 {
  margin-left: 14px;
  margin-right: 14px; }

.m-14 {
  margin: 14px; }

.p-top-14 {
  padding-top: 14px; }

.p-bottom-14 {
  padding-bottom: 14px; }

.p-left-14 {
  padding-left: 14px; }

.p-right-14 {
  padding-right: 14px; }

.p-y-14 {
  padding-top: 14px;
  padding-bottom: 14px; }

.p-x-14 {
  padding-left: 14px;
  padding-right: 14px; }

.p-14 {
  padding: 14px; }

.m-top-16 {
  margin-top: 16px; }

.m-bottom-16 {
  margin-bottom: 16px; }

.m-left-16 {
  margin-left: 16px; }

.m-right-16 {
  margin-right: 16px; }

.m-y-16 {
  margin-top: 16px;
  margin-bottom: 16px; }

.m-x-16 {
  margin-left: 16px;
  margin-right: 16px; }

.m-16 {
  margin: 16px; }

.p-top-16 {
  padding-top: 16px; }

.p-bottom-16 {
  padding-bottom: 16px; }

.p-left-16 {
  padding-left: 16px; }

.p-right-16 {
  padding-right: 16px; }

.p-y-16 {
  padding-top: 16px;
  padding-bottom: 16px; }

.p-x-16 {
  padding-left: 16px;
  padding-right: 16px; }

.p-16 {
  padding: 16px; }

.m-top-24 {
  margin-top: 24px; }

.m-bottom-24 {
  margin-bottom: 24px; }

.m-left-24 {
  margin-left: 24px; }

.m-right-24 {
  margin-right: 24px; }

.m-y-24 {
  margin-top: 24px;
  margin-bottom: 24px; }

.m-x-24 {
  margin-left: 24px;
  margin-right: 24px; }

.m-24 {
  margin: 24px; }

.p-top-24 {
  padding-top: 24px; }

.p-bottom-24 {
  padding-bottom: 24px; }

.p-left-24 {
  padding-left: 24px; }

.p-right-24 {
  padding-right: 24px; }

.p-y-24 {
  padding-top: 24px;
  padding-bottom: 24px; }

.p-x-24 {
  padding-left: 24px;
  padding-right: 24px; }

.p-24 {
  padding: 24px; }

.m-top-28 {
  margin-top: 28px; }

.m-bottom-28 {
  margin-bottom: 28px; }

.m-left-28 {
  margin-left: 28px; }

.m-right-28 {
  margin-right: 28px; }

.m-y-28 {
  margin-top: 28px;
  margin-bottom: 28px; }

.m-x-28 {
  margin-left: 28px;
  margin-right: 28px; }

.m-28 {
  margin: 28px; }

.p-top-28 {
  padding-top: 28px; }

.p-bottom-28 {
  padding-bottom: 28px; }

.p-left-28 {
  padding-left: 28px; }

.p-right-28 {
  padding-right: 28px; }

.p-y-28 {
  padding-top: 28px;
  padding-bottom: 28px; }

.p-x-28 {
  padding-left: 28px;
  padding-right: 28px; }

.p-28 {
  padding: 28px; }

.m-top-32 {
  margin-top: 32px; }

.m-bottom-32 {
  margin-bottom: 32px; }

.m-left-32 {
  margin-left: 32px; }

.m-right-32 {
  margin-right: 32px; }

.m-y-32 {
  margin-top: 32px;
  margin-bottom: 32px; }

.m-x-32 {
  margin-left: 32px;
  margin-right: 32px; }

.m-32 {
  margin: 32px; }

.p-top-32 {
  padding-top: 32px; }

.p-bottom-32 {
  padding-bottom: 32px; }

.p-left-32 {
  padding-left: 32px; }

.p-right-32 {
  padding-right: 32px; }

.p-y-32 {
  padding-top: 32px;
  padding-bottom: 32px; }

.p-x-32 {
  padding-left: 32px;
  padding-right: 32px; }

.p-32 {
  padding: 32px; }

.m-top-48 {
  margin-top: 48px; }

.m-bottom-48 {
  margin-bottom: 48px; }

.m-left-48 {
  margin-left: 48px; }

.m-right-48 {
  margin-right: 48px; }

.m-y-48 {
  margin-top: 48px;
  margin-bottom: 48px; }

.m-x-48 {
  margin-left: 48px;
  margin-right: 48px; }

.m-48 {
  margin: 48px; }

.p-top-48 {
  padding-top: 48px; }

.p-bottom-48 {
  padding-bottom: 48px; }

.p-left-48 {
  padding-left: 48px; }

.p-right-48 {
  padding-right: 48px; }

.p-y-48 {
  padding-top: 48px;
  padding-bottom: 48px; }

.p-x-48 {
  padding-left: 48px;
  padding-right: 48px; }

.p-48 {
  padding: 48px; }

.m-top-64 {
  margin-top: 64px; }

.m-bottom-64 {
  margin-bottom: 64px; }

.m-left-64 {
  margin-left: 64px; }

.m-right-64 {
  margin-right: 64px; }

.m-y-64 {
  margin-top: 64px;
  margin-bottom: 64px; }

.m-x-64 {
  margin-left: 64px;
  margin-right: 64px; }

.m-64 {
  margin: 64px; }

.p-top-64 {
  padding-top: 64px; }

.p-bottom-64 {
  padding-bottom: 64px; }

.p-left-64 {
  padding-left: 64px; }

.p-right-64 {
  padding-right: 64px; }

.p-y-64 {
  padding-top: 64px;
  padding-bottom: 64px; }

.p-x-64 {
  padding-left: 64px;
  padding-right: 64px; }

.p-64 {
  padding: 64px; }

.m-top-80 {
  margin-top: 80px; }

.m-bottom-80 {
  margin-bottom: 80px; }

.m-left-80 {
  margin-left: 80px; }

.m-right-80 {
  margin-right: 80px; }

.m-y-80 {
  margin-top: 80px;
  margin-bottom: 80px; }

.m-x-80 {
  margin-left: 80px;
  margin-right: 80px; }

.m-80 {
  margin: 80px; }

.p-top-80 {
  padding-top: 80px; }

.p-bottom-80 {
  padding-bottom: 80px; }

.p-left-80 {
  padding-left: 80px; }

.p-right-80 {
  padding-right: 80px; }

.p-y-80 {
  padding-top: 80px;
  padding-bottom: 80px; }

.p-x-80 {
  padding-left: 80px;
  padding-right: 80px; }

.p-80 {
  padding: 80px; }

.m-top-96 {
  margin-top: 96px; }

.m-bottom-96 {
  margin-bottom: 96px; }

.m-left-96 {
  margin-left: 96px; }

.m-right-96 {
  margin-right: 96px; }

.m-y-96 {
  margin-top: 96px;
  margin-bottom: 96px; }

.m-x-96 {
  margin-left: 96px;
  margin-right: 96px; }

.m-96 {
  margin: 96px; }

.p-top-96 {
  padding-top: 96px; }

.p-bottom-96 {
  padding-bottom: 96px; }

.p-left-96 {
  padding-left: 96px; }

.p-right-96 {
  padding-right: 96px; }

.p-y-96 {
  padding-top: 96px;
  padding-bottom: 96px; }

.p-x-96 {
  padding-left: 96px;
  padding-right: 96px; }

.p-96 {
  padding: 96px; }

.float-right {
  float: right; }

.float-left {
  float: left; }

:root {
  --transparent: transparent;
  --black: #2e2e2e;
  --white: #ffffff;
  --text: #292929;
  --link: #ed0008;
  --red: #ed0008;
  --blue: #2b3947; }

.text-transparent {
  color: transparent; }

.bg-transparent {
  background-color: transparent; }

.text-black {
  color: #2e2e2e; }

.bg-black {
  background-color: #2e2e2e; }

.text-white {
  color: #ffffff; }

.bg-white {
  background-color: #ffffff; }

.text-text {
  color: #292929; }

.bg-text {
  background-color: #292929; }

.text-link {
  color: #ed0008; }

.bg-link {
  background-color: #ed0008; }

.text-red {
  color: #ed0008; }

.bg-red {
  background-color: #ed0008; }

.text-blue {
  color: #2b3947; }

.bg-blue {
  background-color: #2b3947; }

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  box-sizing: border-box; }

.block {
  display: block; }

body {
  background-color: #f2f2f2; }

ul {
  padding-left: 0; }

.todo-form,
.container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  position: relative; }

.todos-and-tags {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap; }

aside {
  flex: 1 1 auto; }
  aside ul {
    list-style: none; }
  aside li {
    cursor: pointer; }

.list-todos {
  flex: 1 1 auto;
  list-style: none; }
  .list-todos li {
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    margin: 0.5rem auto;
    transition: all 0.3s ease; }
    .list-todos li:focus {
      border: 1px solid blue; }

.screenreader-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }

.todo-new {
  background-color: green;
  border-radius: 60%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: white;
  height: 60px;
  font-size: 20px;
  position: fixed;
  right: 5%;
  transition: all 0.2s ease;
  width: 60px;
  z-index: 2; }
  .todo-new:hover {
    transform: scale(1.15); }

.container {
  padding: 0 20px; }

input {
  border: 0;
  caret-color: #2d50eb; }
  input:focus {
    outline: 0; }

.form-container input {
  width: 100%; }

form {
  display: inline-block; }

.form-container {
  display: flex;
  flex-direction: column;
  transition: height 0.3s ease; }
  .form-container.--gone {
    height: 0; }
  .form-container.--present {
    height: 100px; }
  .form-container form {
    box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: flex 0.5s ease;
    height: auto;
    overflow: hidden;
    flex: 1;
    width: 100%; }
  .form-container .collapse {
    flex: 0;
    transition: flex 0.5s ease; }

.--forwards {
  animation: heightPresent 0.4s both ease; }

.--reverse {
  animation: heightGone 0.4s both ease; }

@keyframes heightPresent {
  to {
    height: 100px; } }

@keyframes heightGone {
  to {
    height: 0px; } }

summary:focus {
  outline: 0; }

.list-todos__content p {
  line-height: 1.4;
  opacity: 0.8; }

details {
  padding: 1rem; }

details summary::-webkit-details-marker {
  display: none; }

form {
  background-color: #ffffff; }

#todo-title,
#todo-description,
.todo-title--update {
  border: 0px;
  width: 100%; }

#todo-title {
  border-bottom: 1px solid rgba(128, 128, 128, 0.39); }

details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out; }

@keyframes sweep {
  0% {
    opacity: 0;
    margin-left: -10px; }
  100% {
    opacity: 1;
    margin-left: 0px; } }

.--strike {
  font-style: italic;
  opacity: 0.7;
  text-decoration: line-through; }

@media (min-width: 600px) {
  .todos-and-tags {
    flex-direction: row;
    justify-content: space-between; }
  aside {
    order: 0;
    flex: 0 1 auto;
    width: calc(25% - 40px); }
  .list-todos {
    flex: 0 1 auto;
    width: calc(75% - 40px); } }
